body {
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
#container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}
.box {
    background-color: black;
    height: 100px;
    width: 100px;
    margin: 10px 10px 10px 10px;
}
.boxChange {
    background-color: gray;
}